.App {
  text-align: center;
}

.error-box {
  color: red;
  margin-top: 15px;
  margin-bottom: -10px;
  text-align: center;
  font-weight: bold;
}

#default_renders {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#default_renders div {
  margin: 0;
}